.vs/BaseEngine/v15/Browse.VC.db
.vs/BaseEngine/v15/ipch/AutoPCH/5a5b27fbbadfc438/CUSTOMSTATEMANAGER.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/6399f737e47f08f3/TEXTDATALOADER.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/97ce76027cb8d4fb/BATTLESCENE.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/9addfd1e332f872c/MAIN.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/b24630e95021d9d5/ROOMFACTORY.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/cc317850da1dfd97/BASEENGINE.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/d19ae5568a32c0b1/CUSTOMSTATEMANAGER.ipch
.vs/BaseEngine/v15/ipch/AutoPCH/ee93a9b5e57985c8/TEXTDATALOADER.ipch
BaseEngine/Source/Scenes/BattleScene.c
BaseEngine/Source/Scenes/BattleScene.h
BaseEngine/x64/Debug/BaseEngine.tlog/BaseEngine.lastbuildstate
BaseEngine/x64/Debug/BaseEngine.tlog/CL.command.1.tlog
BaseEngine/x64/Debug/BaseEngine.tlog/CL.read.1.tlog
BaseEngine/x64/Debug/BaseEngine.tlog/CL.write.1.tlog
BaseEngine/x64/Debug/BaseEngine.tlog/link.command.1.tlog
BaseEngine/x64/Debug/BaseEngine.tlog/link.read.1.tlog
BaseEngine/x64/Debug/BaseEngine.tlog/link.write.1.tlog
BaseEngine/x64/Debug/vc141.idb
